<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>My React Component</title>
  </head>
  <body>
    <div id="app">
      <!-- app renders here -->
    </div>
    <script src="react-15.4.1/build/react-with-addons.js"></script>
    <script src="react-15.4.1/build/react-dom.js"></script>
    <script>
      var logMixin = {
        _log: function (methodName, args) {
          console.log(this.name + '::' + methodName, args);
        },
        componentWillUpdate: function () {
          this._log('componentWillUpdate', arguments);
        },
        componentDidUpdate: function () {
          this._log('componentDidUpdate', arguments);
        },
        componentWillMount: function () {
          this._log('componentWillMount', arguments);
        },
        componentDidMount: function () {
          this._log('componentDidMount', arguments);
        },
        componentWillUnmount: function () {
          this._log('componentWillUnmount', arguments);
        }
      };

      var Counter = React.createClass({
        name: 'Counter',
        mixins: [React.addons.PureRenderMixin],
        propTypes: {
          count: React.PropTypes.number.isRequired
        },
        render: function () {
          console.log(this.name + '::render()');
          return React.DOM.span(null, this.props.count);
        }
      });

      var TextAreaCounter = React.createClass({
        name: 'TextAreaCounter',
        //mixins: [logMixin],
        propTypes: {
          text: React.PropTypes.string
        },
        getDefaultProps: function () {
          return {
            text: ''
          };
        },
        render: function () {
          console.log(this.name + '::render()');
          var counter = null;
          if (this.state.text.length) {
            counter = React.DOM.h3(null,
              React.createElement(Counter, {
                count: this.state.text.length
              })
            );
          }
          return React.DOM.div(null,
            React.DOM.textarea({
              value: this.state.text,
              onChange: this._textChange
            }),
            counter
          );
        },
        getInitialState: function () {
          return {
            text: this.props.text
          };
        },
        _textChange: function (evt) {
          this.setState({
            text: evt.target.value
          });
        }
      });

      ReactDOM.render(
        React.createElement(TextAreaCounter, {
          text: "Bob"
        }),
        document.getElementById("app")
      );
    </script>
  </body>
</html>
